doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section
      header
        if weatherData
          h1=weatherData.name
          h3=Math.round(weatherData.main.temp) +' °C'
          h3=weatherData.weather['0'].description
        else
          h1='Keine Wetterdaten vorhanden'