link(rel='stylesheet', href='/stylesheets/weather-icons.min.css')
style.
    #widget-#{widget._id} .wi {
        font-size: 70px;
    }
if data
  i(class="wi wi-owm-#{data.weather['0'].id} wi-flip-none")=" "+Math.round(data.main.temp) +' °C'
  h2=data.name
  p=data.weather['0'].description
else
  h1='Keine Wetterdaten vorhanden'